/* Structure */

* {
    margin: 0;
    padding: 0;
}

html{
    background: #eee;
    height: 100%;
}

body {
    padding: 0px;
    color: #333;
    margin: 0 auto;
    max-width: 1024px;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #105672;
}

.wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.wrapper::before {
    content: ' ';
    display: block;
    background-color: #000;
    width: 50%;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

header {
    background: url(../img/header.png) center 0 no-repeat, transparent;
    padding: .5em 3em;
    color: #fff;
    line-height: 1;
    z-index: 1;
}

header h1 {
    color: #000;
    margin: 0;
    cursor: default;
}

header h1 span {
    display: inline;
    color: #333;
}

header span {
    display: block;
    color: #333;
    font-weight: 300;
    margin: 0.5em 0;
    cursor: default;
}

header nav {
    float: right;
    text-align: right
}

header nav div {
    font-size: .8em;
    margin-right: .4em;
}

header nav div a {
    font-weight: 300;
    padding: .3em .5em
}

header nav a {
    color: #fff;
    display: inline-block;
    padding: .3em .8em
}

header nav a:hover, header nav a:focus {
    color: #eee;
}

#breadcrumbs {
    padding: .5em 3em;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li::before {
    box-sizing: border-box;
    padding: 0 5px;
    color: #ccc;
    content: "\\\00a0";
}

.pagination {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.pagination > li {
    display: inline-block;
}

.pagination > li + li {    
    padding: 0 .5em;
}

.pagination > li:last-child {
    padding: 0;
}

.pagination > li.active > a {
    color: black;
}

[role=main] {
    padding: 0 3em;
    flex: 1 0 auto;
    position: relative;
}

.leftColumn {
    margin-right: 310px;
}

.rightColumn {
    position: absolute; 
    top: 0;
    right: 0;
    width: 300px;
    padding-right: 3em;
}

article {
    padding: 1em 0;
    border-top: 2px solid #eee;
}

article .tags {
    list-style: none;
}

article .tags > li {
    display: inline;
}

article .tags > li > a {
    background: #090;
    color: #FFFFFF;
    font-size: 11px;
    text-transform: uppercase;
    padding: 4px 6px;
}

article .tags > li > a:hover, article .tags > li > a:focus {
    opacity: .8;
}

article .post-content {
    clear: both;
    padding-top: 10px;
}

article q {
    display: block;
    font-family: Georgia, Times New Roman, serif;
    border: 10px solid #090;
    border-left: 0;
    border-right: 0;
    margin: 0 0 10px;
    font-size: 30px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    quotes: none;
}

article q.medium {
    font-size: 24px;
    line-height: 1.4;
}

article q.long {
    font-size: 18px;
    line-height: 1.6;
}

article .post-body {
    font-size: 15px;
    line-height: 1.4;
    word-wrap: break-word;
}

article .post-meta {
    border-top: 0;
    margin-top: 4px;
    list-style: none;
    text-align: right;
}

article .post-meta li {
    font-style: italic;
    word-wrap: break-word;
    line-height: 1.2;
    position: relative;
    display: inline-block;
}

article .post-meta li a {
    text-transform: uppercase;
    font-style: normal;
}

footer {
    background: #333;
    color: #fff;
    padding: .1em 3em;
    flex: 0 0 auto;
}

.clear {
    clear: both;
}

/* Typography */

.content p {
    font: 1em/1.5 Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
    margin: 16px 0;
}


.content img {
    max-width: 100%;
    height: auto;
}


.content blockquote {
    font-style:italic;
}

.content blockquote p {
    text-align: center;
    font-size: 1.4em;
    line-height: 1.2;
    font-weight: 700;
}

.content blockquote .author {
    text-align: right;
}

a {
    font: 700 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #090;
}

a:hover, a:focus {
    color: #000;
}

a:active {
    position: relative;
    top:1px;
}

h1 a, h2 a {
    color: #000;
}

h1 a:hover, h2 a:hover, h1 a:focus, h2 a:focus {
    color: #333;
}

/* Tabs */

.js-on #tabs article {
    display:none
}

#tabs, #tabs nav a.active {
    background: #ddd;
    color: #111;
}

#tabs nav {
    position: relative;
    overflow: hidden;
    display: table;
    background: #bbb;
}

#tabs nav a {
    width:150px;
    display:table-cell;
    padding:1em;
    text-align:center;
    color: #333;
}

#tabs nav a:hover,#tabs nav a:focus {
    background:#eee
}

#tabs article {
    padding:2em;
}

.js-on #tabs article.active {
    display:block;
}

#tabs #mobiles {
    display:none;
    border-radius: 0;
}

#tabs #mobiles a, #tabs #mobiles a:first-child, #tabs #mobiles a:last-child {
    width:300px;
    border-radius: 0;
}

/* Lizard */ 

#lizard {
    width: 20em;
    max-width: 50%;
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.text-right {
    float: right;
    text-align: right;
}

pre {
    overflow-y: auto;
}

pre.inline {
    display:inline;
    padding: 2px 5px;
}

ol,ul {
    margin-left: 2em;
}

/* Media queries */ 
@media screen and (min-width:900px)
{
    body {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 800px)
{    
    .leftColumn {
        margin-right: 0;
    }
    
    .rightColumn {
        position: relative;
        width: 100%;
        margin-top: 1em;
        padding-right: 0;
    }
}

@media screen and (max-width:600px)
{
    #tabs nav {
        display: none;
        position: relative;
    }
    
    #tabs #mobiles {
        display:block;
    }
    
    #tabs article {
        display:block;
    }
        
}
@media screen and (max-width:480px)
{
    
    header {        
        padding: .5em 2em;
        background: transparent;
    }
    
    .wrapper::before {
        display: none;
    }

    header nav a {
        padding:.7em .8em
    }
    
    header nav {
        float: none;
        margin: -.5em -2em 0;
        background: #000;
        overflow: hidden;
        text-align: center;
        padding-bottom: 0.5em;
    }
    
    header nav a {
        border-right: 1px solid #222;
    }
    
    header h1 {        
        margin-top: 0.5em;
    }
    
    [role=main] {
        padding: 0 2em;
    }
    
    #lizard {
        position: relative;
        bottom: 0;
        right: 0;
    }   

}
